@model domain.Order

<h1>Bekräftelse</h1>
<h3>Tack för din beställning @Model.Customer.FirstName</h3>
<p>Ordernummer för kontakt med kundtjänst: @Model.OrderNumber</p>

<h5>Varorna är på väg till dig!</h5>